html{
  background-color: #171717;
  height: 100vh;
}

.title{
  background-image: linear-gradient(to bottom,transparent 40%,rgba(0,0,0,0.95) 70%, #020202), url("https://www.kew.org/sites/default/files/2019-07/Holwick%20June%202011%20R%20Barrett.jpg");
  width: 100vw;
  height: 65vh;
  background-position: top;
  z-index: 1;
  position: relative;
  box-shadow: 0px 50px 20px #000000;
  padding-bottom: 30px;
  text-align: center;
}

.other_title{
  background-image: linear-gradient(to bottom,transparent 40%,rgba(0,0,0,0.95) 70%, #020202);
  width: 100vw;
  height: 30vh;
  z-index: 2;
  position: relative;
  box-shadow: 0px 50px 20px #000000;
  padding-bottom: 30px;
  text-align: center;
  top: -10vh;
}

.other_title > h1{
  position: absolute;
  top: 25vh;
  left: 50vw;
  transform: translate(-50%, -50%); 
  letter-spacing: 0.2rem;
  font-size: 1.7rem;
  color: white;
  text-shadow: 2px 2px 5px;
  text-transform: uppercase;
}

.final_title{
  width: 100vw;
  height: 30vh;
  z-index: 2;
  position: relative;
  text-align: center;
  top: -15vh;
}

.final_title > h1{
  position: absolute;
  top: 25vh;
  left: 50vw;
  transform: translate(-50%, -50%); 
  letter-spacing: 0.2rem;
  font-size: 1.7rem;
  color: white;
  text-shadow: 2px 2px 5px;
  text-transform: uppercase;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
  flex: 1;
}

.content {
  font-size: 1.2rem;
  line-height: 1.7;
  background-size: cover;
  background-attachment: fixed;
  background-color: #020202;
  width: 100vw;
  height: 100vh;
  padding: 5rem;
  box-shadow: 0 50px 50px black;
  text-align: center;
}

.first-parallax {
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;  
  z-index: 2;
}

.container{
  height: 100vh;
  width: 100vw;
  background-color: black;
  align-content: center;
  position: relative;
  display: block;
}


.title h1{
  position: absolute;
  top: 25vh;
  left: 50vw;
  transform: translate(-50%, -50%); 
  letter-spacing: 0.2rem;
  font-size: 1.7rem;
  color: black;
  text-shadow: 2px 2px 5px;
  text-transform: uppercase;
}

.phone-frame-1{
  background: url('Mayhem_Video.mp4') no-repeat;
  background-size:cover;
  background-position-y: center;
  background-position-x: center;
  background-clip: content-box;
  background-blend-mode:darken;
  width: auto;
  height: auto;
  position: relative;
  z-index: 100;
  animation: fade 1.9s linear;
  opacity: 1;
}

.phone-frame-2{
  background: url('BJAuto_video.mp4') no-repeat;
  background-size:80%;
  background-position-y: center;
  background-position-x: center;
  background-clip: content-box;
  background-blend-mode:darken;
  width: auto;
  height: auto;
  position: relative;
  z-index: 100;
  animation: fade 1.9s linear;
  opacity: 1;
}

.phone-frame-3{
  background: url('Goproj_Video.mp4') no-repeat;
  background-size:180%;
  background-position-y: center;
  background-position-x: center;
  background-clip: content-box;
  background-blend-mode:darken;
  width: auto;
  height: auto;
  position: relative;
  z-index: 100;
  animation: fade 1.9s linear;
  opacity: 1;
}
@keyframes fade {
  /*0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }*/

  to{
    transform: translateY(100px);
    opacity: 1;
  }
}

.constructionMarquee {
    color: white;
    position: sticky;
    animation: scroll 10s linear infinite;
}

@keyframes scroll {
    to {
       transform: translate(100vw,0)
    }
}

::-webkit-scrollbar {
  background: currentcolor;
  width: 5px;
}
::-webkit-scrollbar-track {
  background: currentcolor;
}

:root * {
  /* Pause the animation */
  animation-play-state: paused;
  /* Bind the animation to scroll */
  animation-delay: calc(var(--scroll) * -1.3s);
  /* These last 2 properites clean up overshoot weirdness */
  animation-iteration-count: 1;
  animation-fill-mode: both;
  
}


.footer{
  width: 100vw;
  height: 65vh;
  position: relative;
}
