.title{
  background-image: linear-gradient(to bottom,transparent 40%,rgba(0,0,0,0.95) 70%, #020202), url("https://www.kew.org/sites/default/files/2019-07/Holwick%20June%202011%20R%20Barrett.jpg");
  width: 100vw;
  height: 65vh;
  background-position: top;
  z-index: 1;
  position: relative;
  box-shadow: 0px 50px 20px #000000;
  padding-bottom: 30px;
  text-align: center;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
  flex: 1;
}

.content {
  font-size: 1.2rem;
  line-height: 1.7;
  background-size: cover;
  background-attachment: fixed;
  background-color: #020202;
  width: 100vw;
  height: 100vh;
  padding: 5rem;
  box-shadow: 0 50px 50px black;
  text-align: center;
}

.first-parallax {
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;  
  z-index: 2;
}

.container{
  height: 100vh;
  width: 100vw;
  background-color: black;
  align-content: center;
  position: relative;
  display: block;
}


.title h1{
  position: absolute;
  top: 25vh;
  left: 50vw;
  transform: translate(-50%, -50%); 
  letter-spacing: 0.2rem;
  font-size: 1.7rem;
  color: black;
  text-shadow: 2px 2px 5px;
  text-transform: uppercase;
}

.phone-frame{
  position: relative;
  z-index: 100;
}

.footer{
  width: 100vw;
  height: 65vh;
  position: relative;
}
