@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

@keyframes scroll {
    from {
        transform: translate(-70vw,0)
    }
    to {
       transform: translate(100vw,0)
    }
}

.constructionMarquee {
	color: white;
    animation: scroll 10s linear 0s infinite;
    position: absolute;
}
